body{
  position: relative;
  width: 1280px;
  height: 2824px;
  background: linear-gradient(180deg, #59064A 0%, #128BB6 100%);
  margin: 0 auto;
}
.map{
  position: relative;
  margin: 0 auto;
  width: 1280px;
  height: 2824px;
}
.map img{
  position: absolute;
  /* width: 100%; */
  height: 100%;
}

.map.setka1{
  position: absolute;
  width: 136px;
  height: 207px;
  left: 450px;
  top: 1143px;
}
.setka1 img{
  width: 136px;
  height: 207px;
  left: 450px;
  top: 1143px;
}
.map.setka2{
  position: absolute;
  width: 80px;
  height: 104px;
  left: 670px;
  top: 1274px;
}
.setka2 img{
  width: 80px;
  height: 104px;
  left: 670px;
  top: 1274px;
}
.map.setka3{
  position: absolute;
  width: 80px;
  height: 72px;
  left: 670px;
  top: 1410px;
}
.setka3 img{
  width: 80px;
  height: 72px;
  left: 670px;
  top: 1410px;
}
.map.setka4{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0px;
  top: 1250px;
}
.setka4 img{
  width: 300px;
  height: 300px;
  left: 0px;
  top: 1250px;
}
.map.setka5{
  position: absolute;
  width: 154px;
  height: 300px;
  left: 1021px;
  top: 1000px;
}
.setka5 img{
  width: 154px;
  height: 300px;
  left: 1021px;
  top: 1000px;
}
.map.setka6{
  position: absolute;
  width: 177px;
  height: 150px;
  left: 750px;
  top: 1600px;
}
.setka6 img{
  width: 177px;
  height: 150px;
  left: 750px;
  top: 1600px;
}
.map.setka7{
  position: absolute;
  left: 927px;
  top: 1500px;
  height: 400px;
  width: 354;
}
.setka7 img{
  left: 927px;
  top: 1500px;
  height: 400px;
  width: 354;
}
.setka1:hover,.setka2:hover,.setka3:hover,.setka4:hover,.setka5:hover,.setka6:hover, .setka7:hover{
  opacity: 0;
  transition: all .1s ease-out;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6{
  background: #FFB635;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover{
  box-shadow: 0px 0px 15px 9px rgba(255, 182, 53, 0.46);
}
.circle1{left: 315px; top: 1143px;}
.circle2{left: 950px; top: 1047px;}
.circle3{left: 586px; top: 1326px;}
.circle4{left: 556px; top: 1718px;}
.circle5{left: 980px; top: 1505px;}
.circle6{left: 1092px; top: 2012px;}

.plane1{
  position: absolute;
  width: 232.04px;
  height: 120.04px;
  top: 2831px;
  animation: plane1 14s infinite;
}
@keyframes plane1 {
  0%{left: 1300px; top: 2696px;}
  100%{left: 0; top: -2446px;}
}
.plane2{
  position: absolute;
  width: 221.84px;
  height: 166.57px;
  top: 1160px;
  animation: plane2 9s infinite;
}
@keyframes plane2 {
  0%{left: -300px;}
  100%{left: 1680px;}
}
/* .plane3{
  position: absolute;
  width: 192.09px;
  height: 154.09px;
  top: 2199px;
  animation: plane3 14s infinite;
}
@keyframes plane3 {
  0%{left: -300px; top: 2199px;}
  100%{left: 1300; top: -1949px;}
} */
.plane4{
  position: absolute;
  width: 126px;
  height: 158.44px;
  top: 1799px;
  animation: plane4 9s infinite;
}
@keyframes plane4 {
  0%{left: 1680px; top: 1799px;}
  100%{left: -300px; top: 1526px;}
}
.plane5{
  position: absolute;
  width: 227.32px;
  height: 142.32px;
  top: 2121px;
  animation: plane5 9s infinite;
}
@keyframes plane5 {
  0%{left: -300px; top: 2121px;}
  100%{left: 1680px; top: 1536px;}
}
.airplane{
  display: block;
  width: 1130px;
  height: 700px;
  margin: 0 auto;
}
.airplane img{
  position: fixed;
  width: 1130px;
  height: 700px;
  margin-top: 50px;
}
.plashka{
  background: linear-gradient(180deg, rgba(18, 139, 182, 0) 0%, #2FA9D5 39.58%, #FFFFFF 100%);
  position: absolute;
  width: 1680px;
  height: 850px;
  left: 0px;
  bottom: 0;
}
